/*!
 * Start Bootstrap - The Big Picture (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(../images/micbg.jpg) #ccc; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ===== Demo Styles ===== */
.infobox{
  font-family: 'Arial';
  font-weight: 100px;
  font-size: 20px;
  color: #323232;
  width: auto;
  height: auto;
  margin: 10px auto;
  padding: 20px;
  background-color: #5B5B5B;
  border: 1px solid #5B5B5B;
  border-radius: 1px;
  -webkit-box-shadow:  0px 0px 10px 0px #f0f0f0;
  box-shadow:  0px 0px 10px 0px #f0f0f0;
 
}

.caption {
  position: block;
  margin-left: 19%;
  bottom: 100%;
  width: auto;
  text-align: center;
  color: #000;
  margin-bottom:10px;
  margin-top:10px;
}

.radio {
  position: block;
  margin-left: 40%;
  bottom: 100%;
  width: auto;
  text-align: center;
  color: #000;
  margin-bottom:10px;
  margin-top:150px;
}
